* {
    margin: 0%;
    padding: 0;
    background-color: wheat;
}

.nav {
}
.nav ul{
    display: flex;
    float: left;
    justify-content: center;
    align-items: right;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    align-items: right;
}
.header h2{
    width: 100%;
    display: flex;
    text-align: center;
}